<br>
<h2>VEHÍCULO</h2>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1" >Email address </label>
    <input type="email" class="form-control" id="exampleFormControlInput1"  required="required" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Autos Marcas</label>
    <select class="form-control" id="exampleFormControlInput1" [(ngModel)]="selectedmarca.id" 
    (change)="onSelect($event.target.value)" [ngModelOptions]="{standalone: true}"> 
      <option *ngFor="let marca of marcas" value={{marca.id}}>
        {{marca.name}}
      </option>
    </select>
  </div>
  <div class="form-group" *ngIf="submarcas?.length > 0">
    <label for="exampleFormControlSelect2">Submarca</label>
    <select class="form-control" id="exampleFormControlSelect1">
  <option *ngFor="let submarca of submarcas" value={{submarca.id}}>
    {{submarca.name}}
  </option>
     </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Estado</label>
    <select class="form-control" id="exampleFormControlInput1" [(ngModel)]="selectedestado.id" 
    (change)="onSelect($event.target.value)" [ngModelOptions]="{standalone: true}"> 
      <option *ngFor="let estado of estados" value={{estado.id}}>
        {{estado.name}}
      </option>
    </select>
  </div>

  <div class="form-group" *ngIf="municipios?.length > 0">
    <label for="exampleFormControlSelect2">Municipios</label>
    <select class="form-control" id="exampleFormControlSelect1">
  <option *ngFor="let municipio of municipios" value={{municipio.id}}>
    {{municipio.name}}
  </option>
     </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1" >Código Postal</label>
    <input type="number" class="form-control" id="exampleFormControlInput1"  required="required" placeholder="">
  </div>

  <label for="start">Fecha de Nacimiento:  </label>
<input type="date" id="start" name="trip-start"
       value=""
       min="" max="2018-12-31">
    <button onclick="" type="reset" class="btn btn-primary btn-lg btn-block">
      Borrar Datos
    </button>
  
 
  <div class="form-group mt-5">
    <button onclick="" type="submit" class="btn btn-primary btn-lg btn-block">
      Cotizar
    </button>
  </div>
</form>